<!DOCTYPE html>
<html>
    <head>
        <title>CCFA Application | Helps predict fraud, loan rate, and personal recommender.</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <!-- FLASH MESSAGING -->
        <!-- see: http://flask.pocoo.org/docs/1.0/patterns/flashing/#flashing-with-categories -->
        <!-- see: https://getbootstrap.com/docs/4.3/components/alerts/ -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible" role="alert" style="margin-bottom:0px;">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{ message }}
            </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
        <!-- SITE NAVIGATION -->
        <!-- see: https://jinja.palletsprojects.com/en/2.11.x/tricks/ -->
        <!-- see: https://getbootstrap.com/docs/4.0/components/navbar/ -->
        {% set nav_links = [
        ('/features', 'features', 'Features'),
        ('/features/new', 'new_feature', 'New Feature')
        ] -%}
        {% set active_page = active_page|default('index') -%}
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/">CCFA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="nav navbar-nav ml-auto">
            {% for href, id, text in nav_links %}
                <li class="nav-item {% if active_page == id %}active{% endif %}">
                <a class="nav-link" href="{{ href }}">{{ text }}</a>
                </li>
            {% endfor %}
            </ul>
        </div>
        </nav>
        <!-- SITE CONTENT -->
        <div class="container">
            {% block content %}{% endblock %}
        </div>
        <!-- SITE FOOTER -->
        <footer class="footer">
        <div class="container">
            <span class="text-muted">CCFA Application</span>
        </div>
        </footer>
    </body>
</html>