<!-- web_app/templates/new_book.html -->

{% extends "layout.html" %}

{% block content %}

    <h1>New Feature Page</h1>

    <p>Please fill out the form and submit to create a new feature!</p>

    <form action="/features/create" method="POST">

        <label>Index:</label>
        <input type="text" name="Application" placeholder="Feature Importance" value="Feature Importance">

        <label>Feature:</label>
        <select name="feature_name">
          <option value="A1">"Minutes"</option>
          <option value="A2">"Hour"</option>
          <option value="A3">"Amount"</option>
          <option value="A4">"Month"</option>
          <option value="A5">"Day"</option>
          <option value="A6">"Use_Chip"</option>
          <option value="A7">"Year"</option>
          <option value="A8">"Merchant_City"</option>
          <option value="A11">"Choice"</option>
          <option value="A12">"Choice"</option>
        </select>

        <button>Submit</button>
    </form>
{% endblock %}