<!-- Need a template for our predict if transaction is Fraud or NOT Fraud-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Light Gradient Boost Classifier Prediction</title>
</head>
<body>
    <h1> LGBClassifier on Credit Card Transactions</h1>
    <h3> Predict if transaction is Fraud or NOT Fraud</h3>
        <div>
            <form action="/predict" method="POST">
                <label for="amount">Amount</label>
                <input type="text" id="amount" name="amount" placeholder="Amount of transaction">
                <input type="submit" value="Submit">

            </form>
        </div> 
</body>
</html>
